<!DOCTYPE html>
<html>
<% include ./head.ejs %>

  <body>
    <div id="container">
      <% include ./logoutheader.ejs %>
    </div>
  </body>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
    rel="stylesheet" type="text/css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

  <body class="main-layout">
    <!-- section -->
    <div id="contact" class="section layout_padding">
      <div class="container-fluid">
        <div class="heading">
          <h2><strong class="theme_blue">접종 예약</strong></h2>
        </div>
        <div class="main">
          <h3>오늘 날짜: <%=date%></h3>
          <h3>당일 잔여 백신 남아 있는 병원</h3>
          <%for(var i=0; i<hospital.length; i++) { var oneItem=hospital[i]; %>
            <div>
              <a href="../../../home/modify/<%=date%>/<%=oneItem.h_id%>">
                <%=oneItem.h_name%>
              </a>
            </div>
            pifizer: <%=oneItem.pifizer%>
            <br>
            astrazeneca: <%=oneItem.astrazeneca%>
            <br>
            moderna: <%=oneItem.moderna%>
            <br>
            <%}%>
        </div>
        
      </div>
    </div>
  </body>
  <% include ./../footer.ejs %>
  </html>